/vendor
/node_modules
/storage
/.idea
.env
.env.testing


.DS_Store
*.zip
*.tar

build/vendor/**/**/*
build/vendor/**/*.scssc
src/vendor/**/**/*


build/scss/.sass-cache/**/*.scssc
build/scss/.sass-cache/*
dist/

.codekit-cache/

# Laravel ignored files and dir

/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
composer.lock
/tests
/bootstrap/cache
/storage/logs
/storage/framework
