@charset "UTF-8";
/**
	Dependencies
**/
/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none; }

button {
  overflow: visible;
  -webkit-appearance: button; }

details {
  display: block; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

:root {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
.p-t-30 {
  padding-top: 30px; }
.p-t-100 {
  padding-top: 100px; }

/**
 * Add/remove floats
 */
.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.float--none {
  float: none !important; }

/**
 * Text alignment
 */
.text--left {
  text-align: left  !important; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

/**
 * Font weights
 */
.weight--light {
  font-weight: 300 !important; }

.weight--normal {
  font-weight: 400 !important; }

.weight--semibold {
  font-weight: 600 !important; }

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important; }

.push--top {
  margin-top: 20px !important; }

.push--right {
  margin-right: 20px !important; }

.push--bottom {
  margin-bottom: 20px !important; }

.push--left {
  margin-left: 20px !important; }

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half--top {
  margin-top: 10px !important; }

.push-half--right {
  margin-right: 10px !important; }

.push-half--bottom {
  margin-bottom: 10px !important; }

.push-half--left {
  margin-left: 10px !important; }

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.soft {
  padding: 20px !important; }

.soft--top {
  padding-top: 20px !important; }

.soft--right {
  padding-right: 20px !important; }

.soft--bottom {
  padding-bottom: 20px !important; }

.soft--left {
  padding-left: 20px !important; }

.soft--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.soft--sides {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.soft-half {
  padding: 10px !important; }

.soft-half--top {
  padding-top: 10px !important; }

.soft-half--right {
  padding-right: 10px !important; }

.soft-half--bottom {
  padding-bottom: 10px !important; }

.soft-half--left {
  padding-left: 10px !important; }

.soft-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.soft-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.hard {
  padding: 0 !important; }

.hard--top {
  padding-top: 0 !important; }

.hard--right {
  padding-right: 0 !important; }

.hard--bottom {
  padding-bottom: 0 !important; }

.hard--left {
  padding-left: 0 !important; }

.hard--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.hard--sides {
  padding-right: 0 !important;
  padding-left: 0 !important; }

/**
 * Pull items full width of `.island` parents.
 */
.full-bleed {
  margin-right: -20px !important;
  margin-left: -20px !important; }
  .islet .full-bleed {
    margin-right: -10px !important;
    margin-left: -10px !important; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important; }

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important; }

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important; }

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
.go:after {
  content: " " "»" !important; }

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform: uppercase !important; }

img.fluid {
  width: 100%; }

/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
.accessibility,
.visuallyhidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

img.fluid {
  width: 100%; }

/**
    Visiblities
**/
@media all and (max-width: 39.9375em) {
  .hidden-on-small {
    display: none !important; }

  .text--center-mobile {
    text-align: center !important; } }
/**
	Color
*/
/* ====================== *\
	Config Layout Section
\* ====================== */
/**
 ** a config layout for gallery section
 ** this config it's config from susy
 */
/* ============================== *\
	Container
\* ============================== */
.container__main {
  background-color: #ffffff; }

.section {
  display: table;
  width: 100%;
  position: relative; }

.section__container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .section__container:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 39.9375em) {
    .section__container {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .section__container:after {
        content: " ";
        display: block;
        clear: both; } }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 39.9375em) {
    .container {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

#section--main {
  background: #ffffff;
  background: -webkit-linear-gradient(90deg-#33c2ff 0%, #ffffff 100%);
  background: linear-gradient(#33c2ff 0%, #ffffff 100%); }

#section--prize {
  background-color: #ffd847;
  padding-top: 40px;
  padding-bottom: 90px; }

#section--howto {
  background-color: #ffffff;
  padding-bottom: 65px;
  padding-top: 75px; }

#section--gallery {
  background-color: #e6e6e6;
  padding-top: 66px;
  padding-bottom: 68px; }

#section--success-submission {
  background: url(../images/characters.png) no-repeat bottom right, #32c0ff; }
  @media all and (max-width: 39.9375em) {
    #section--success-submission {
      background-size: 100%; } }

#section--photo-detail {
  position: relative; }
  #section--photo-detail:before {
    position: absolute;
    width: 100%;
    content: '';
    height: 300px;
    top: 0;
    left: 0;
    background-color: #32c0ff;
    z-index: -1; }
    @media all and (max-width: 39.9375em) {
      #section--photo-detail:before {
        height: 180px; } }

.section--subpage {
  padding: 40px 0;
  min-height: 100vh; }

.content--vertical-middle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10; }

.container__photo-detail {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }
  .container__photo-detail:after {
    content: " ";
    display: block;
    clear: both; }

.wrapper--login {
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 40px; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: block; }
  @media all and (max-width: 39.9375em) {
    .row {
      margin-left: 0;
      margin-right: 0; } }

/**
 ** Column 
 */
.column__span-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.6666666667%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333333333%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-2-desktop {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333333333%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-3-desktop {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.6666666667%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.3333333333%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
.column__span-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.6666666667%;
  padding-right: 1.6666666667%; }
@media all and (max-width: 39.9375em) {
  .column__span-6-mobile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.6666666667%;
    padding-right: 1.6666666667%; } }
.column__offset-3 {
  margin-left: 50%; }
  @media all and (max-width: 39.9375em) {
    .column__offset-3 {
      margin-left: 0%; } }

.bordered--left {
  border-left: solid 1px #cfcfcf; }
  @media all and (max-width: 39.9375em) {
    .bordered--left {
      border-left: none; } }

/* ======================== *\
	FONT EMBED
\* ======================== */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.otf") format("opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oduda-Bold';
  src: url("../fonts/Oduda-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oduda-Bold.otf") format("opentype"), url("../fonts/Oduda-Bold.woff") format("woff"), url("../fonts/Oduda-Bold.ttf") format("truetype"), url("../fonts/Oduda-Bold.svg#Oduda-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
.text--white {
  color: #ffffff !important; }
.text--black {
  color: #000000; }
.text--primary {
  color: #1e419b; }
.text--red {
  color: #ec1c24; }
.text--grey {
  color: #e6e6e6; }
.text--grey-darker {
  color: #b8b8b8; }

.text--light {
  font-weight: light; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oduda-Bold", helvetica, sans-serif;
  color: #1e419b; }

a, p, ul, ol, li, span, small {
  font-family: "Montserrat-Regular", helvetica, sans-serif; }

small {
  color: #e6e6e6; }

p {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  display: block;
  color: #4d4d4d;
  font-family: "Montserrat-Regular", helvetica, sans-serif; }
  @media all and (max-width: 39.9375em) {
    p {
      font-size: 12px;
      margin-bottom: 5px; } }

a {
  cursor: pointer;
  font-size: 14px;
  display: inline-block; }

h1 {
  font-size: 37px; }
  @media all and (max-width: 39.9375em) {
    h1 {
      font-size: 31px; } }

h2 {
  font-size: 31px; }
  @media all and (max-width: 39.9375em) {
    h2 {
      font-size: 25px; } }

h3 {
  font-size: 28px; }

h4 {
  font-size: 26px; }
  @media all and (max-width: 39.9375em) {
    h4 {
      font-size: 20px; } }

h5 {
  font-size: 22px; }

h6 {
  font-size: 18px; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, span {
  text-rendering: optimizeLegibility; }

strong {
  text-shadow: 0px 0 #000000; }

.divider--horizontal {
  width: auto;
  position: relative;
  margin: 20px 0;
  text-align: center; }
  .divider--horizontal:after {
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
    content: '';
    width: 100%;
    background-color: #e6e6e6; }
.divider--vertical {
  position: relative;
  width: 100%; }
  .divider--vertical:after {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    content: '';
    width: 1px;
    background-color: #e6e6e6; }
    @media all and (max-width: 39.9375em) {
      .divider--vertical:after {
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0; } }
  .divider--vertical span {
    margin: 40px 0;
    display: inline-block;
    background-color: #ffffff;
    padding: 5px 20px;
    position: relative;
    z-index: 3;
    color: #b3b3b3; }
    @media all and (max-width: 39.9375em) {
      .divider--vertical span {
        margin: 10px 0; } }

hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  margin: 20px 0; }

.divider--login span {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 20px;
  position: relative;
  z-index: 3;
  color: #b3b3b3; }

.username {
  font-family: "Oduda-Bold";
  padding: 10px 20px;
  display: inline-block;
  min-width: 200px;
  background-color: #e6e6e6;
  color: #333333; }

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.icon {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: url(../images/icon.png) no-repeat top left; }

.icon--likes {
  width: 14px;
  height: 11px;
  background-position: 0 0; }

.icon--facebook {
  width: 19px;
  height: 20px;
  background-position: 0 -11px; }

.icon--twitter {
  width: 19px;
  height: 20px;
  background-position: -19px -11px; }

.icon--arrow-bottom {
  width: 19px;
  height: 17px;
  background-position: 0 -51px; }

.icon--close {
  width: 20px;
  height: 20px;
  background-position: 0 -31px; }
  .icon--close:hover {
    background-position: -20px -31px; }

.icon--search {
  width: 20px;
  height: 20px;
  background-position: 0 -68px; }

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Oduda-Bold"; }
  .button.disabled {
    background-color: #b8b8b8;
    color: #e8e8e8;
    border-color: #737373; }

.button__primary {
  background-color: #eb1c24;
  border: solid 3px #1e419b;
  color: #ffffff; }
  .button__primary:hover {
    background-color: #c11118; }

.button__secondary {
  background-color: #f4971e;
  border: solid 3px #1e419b;
  color: #1e419b; }
  .button__secondary:hover {
    background-color: #d17b0a; }

.button__tertiary {
  border: solid 3px #ffffff;
  color: #ffffff; }
  .button__tertiary:hover {
    background-color: #ffffff;
    color: #1e419b; }

.button__quertiary {
  border: solid 3px #262626;
  color: #262626; }
  .button__quertiary:hover {
    background-color: #ffffff;
    color: #1e419b; }

.button__querniry {
  border: solid 3px #1e419b;
  color: #1e419b; }
  .button__querniry:hover {
    background-color: #ffffff;
    color: #1e419b; }

.button__split .button--icon {
  display: inline-block;
  padding: 15px 25px;
  float: left;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
.button__split .button--text {
  display: inline-block;
  padding: 15px 25px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.button--facebook {
  background-color: #4f6fb3;
  color: #ffffff;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important; }
  .button--facebook .button--icon {
    background-color: #3e5890; }
  .button--facebook:hover {
    background-color: #3e5890; }
    .button--facebook:hover .button--icon {
      background-color: #364d7e; }

.button--facebook-share {
  background-color: #4f6fb3;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .button--facebook-share .button--icon {
    background-color: #3e5890;
    padding: 5px 10px;
    -webkit-border-top-left-radius: 10px !important;
    -moz-border-top-left-radius: 10px !important;
    -ms-border-top-left-radius: 10px !important;
    -o-border-top-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-bottom-left-radius: 10px !important;
    -ms-border-bottom-left-radius: 10px !important;
    -o-border-bottom-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    line-height: 1; }
  .button--facebook-share .button--text {
    padding: 5px 20px; }
  .button--facebook-share:hover {
    background-color: #3e5890; }
    .button--facebook-share:hover .button--icon {
      background-color: #364d7e; }

.button--tweet {
  background-color: #5ea9dd;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .button--tweet .button--icon {
    background-color: #2c8dd0;
    padding: 5px 10px;
    -webkit-border-top-left-radius: 10px !important;
    -moz-border-top-left-radius: 10px !important;
    -ms-border-top-left-radius: 10px !important;
    -o-border-top-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-bottom-left-radius: 10px !important;
    -ms-border-bottom-left-radius: 10px !important;
    -o-border-bottom-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    line-height: 1; }
  .button--tweet .button--text {
    padding: 5px 20px; }
  .button--tweet:hover {
    background-color: #2c8dd0; }
    .button--tweet:hover .button--icon {
      background-color: #267bb6; }

.button__form {
  background-color: #ec1c24;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  color: #ffffff;
  padding: 17px 25px;
  font-family: "Montserrat-Regular"; }

.button--expand {
  width: 100%; }

.button__back {
  color: #a1a1a1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  .button__back:hover {
    color: #5c5c5c; }

.button--small {
  padding: 3px 18px;
  font-size: 12px;
  font-size: 18px; }

.button--medium {
  padding: 12px 22px;
  font-size: 14px; }

.button--large {
  padding: 16px 26px;
  font-size: 18px; }

.scroll--down {
  position: absolute;
  right: 150px;
  bottom: 5%; }

.likes--counter {
  padding: 5px 10px;
  background-color: #e6e6e6;
  color: #000000;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block; }
  @media all and (max-width: 39.9375em) {
    .likes--counter {
      float: none;
      margin: 10px 0; } }

input[type], textarea {
  padding: 5px 10px;
  background-color: #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  color: #454545; }
  input[type]:focus, textarea:focus {
    outline: none;
    border: solid 1px #dadada;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

label {
  font-size: 14px;
  color: #b8b8b8; }

textarea {
  height: 150px;
  color: #454545; }

.form--login {
  max-width: 70%;
  margin: auto; }
  .form--login.page {
    max-width: 40%; }

.form--comment textarea {
  height: 100px !important; }

.form__wrapper {
  display: inline-block;
  width: 100%; }

.form__submit {
  max-width: 80%;
  margin: auto; }

.form__control {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  position: relative; }
  .form__control.required:before {
    position: absolute;
    content: '*';
    color: #ec1c24;
    top: 0;
    right: -10px; }

.form--search {
  max-width: 220px;
  float: right;
  width: 100%;
  position: relative;
  margin-bottom: 40px; }
  @media all and (max-width: 39.9375em) {
    .form--search {
      max-width: 100%; } }

.button--submit {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 0 10px; }

.image--responsive {
  max-width: 100%; }

.image--figured {
  position: relative;
  width: auto;
  display: inline-block;
  height: 100%;
  margin: 20px 0;
  width: 100%; }

@media all and (max-width: 39.9375em) {
  .image--prize {
    max-width: 80% !important; } }

.decoration__wrapper--main {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 660px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
  z-index: 0; }
  @media all and (max-width: 39.9375em) {
    .decoration__wrapper--main {
      display: none; } }

.decoration--land--desktop {
  position: absolute;
  width: 90%;
  height: 370px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: url(../images/characters/land.png) no-repeat bottom left;
  background-size: contain; }
  @media all and (max-height: 39.9375em) {
    .decoration--land--desktop {
      width: 80%;
      height: 300px; } }
  @media all and (max-width: 39.9375em) {
    .decoration--land--desktop {
      display: none; } }

@media all and (max-width: 39.9375em) {
  .decoration--land-mobile {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url(../images/decoration-mobile.png) no-repeat bottom left;
    background-size: 100%; } }
.decoration {
  position: absolute;
  width: 100%;
  height: 370px;
  bottom: 0;
  left: 0; }
  @media all and (max-width: 39.9375em) {
    .decoration {
      height: 0px; } }

.decoration__character {
  position: absolute;
  display: inline-block; }
  @media all and (max-width: 39.9375em) {
    .decoration__character {
      display: none; } }

.character--duck {
  bottom: 35%;
  left: 15%;
  z-index: 11; }
.character--elephant {
  top: 28%;
  left: 35%;
  z-index: 11; }
.character--fish {
  bottom: 4%;
  right: 52%;
  z-index: 11; }
.character--turtle {
  top: 55%;
  right: 25%;
  z-index: 11; }
.character--butterfly {
  top: 15%;
  right: 20%;
  z-index: 11; }

.decoration--tree-small {
  top: 14%;
  right: 38%;
  z-index: 2; }
.decoration--tree-grass {
  bottom: 14%;
  right: 0;
  z-index: 2; }
.decoration--tree-big {
  top: -16%;
  left: 13%;
  z-index: 2; }
.decoration--grass {
  top: 8%;
  left: 23%;
  z-index: 2; }
.decoration--tree-grass {
  top: 22%;
  right: 10%;
  z-index: 4; }
.decoration--flower-white {
  top: -4%;
  left: 5%;
  z-index: 2; }
.decoration--cloud-01 {
  bottom: 30%;
  right: 0;
  z-index: 2; }
.decoration--cloud-02 {
  top: -35%;
  left: 5%;
  z-index: 1; }
.decoration--cloud-03 {
  top: -30%;
  left: 30%;
  z-index: 2; }
.decoration--flower-red-small {
  top: 27%;
  right: 35%;
  z-index: 2; }
.decoration--flower-red-big {
  bottom: 22%;
  right: 1%;
  z-index: 3; }

.list__inline {
  display: inline-block;
  list-style: none; }
  .list__inline li {
    float: left; }

.list__undot {
  list-style: none; }

.list--prize {
  text-align: left; }
  .list--prize li {
    margin-bottom: 15px;
    line-height: 1.3; }

footer {
  background-color: #1e419b;
  padding: 24px 0; }
  @media all and (max-width: 39.9375em) {
    footer {
      padding: 5px 0; } }

@media all and (max-width: 39.9375em) {
  .list--foot {
    width: 100%;
    text-align: center; } }
.list--foot li {
  color: #6184cf;
  margin-right: 10px; }
  @media all and (max-width: 39.9375em) {
    .list--foot li {
      float: none !important;
      width: auto; }
      .list--foot li:first-child a {
        border-bottom: solid 1px #18347c; } }
  .list--foot li a {
    color: #6184cf; }
    @media all and (max-width: 39.9375em) {
      .list--foot li a {
        padding: 10px;
        width: auto; } }

.headline--home {
  display: inline-block;
  width: 100%;
  margin-top: 10px; }
  .headline--home figure {
    display: none; }
  @media all and (max-width: 39.9375em) {
    .headline--home {
      text-align: center;
      padding-bottom: 70px; }
      .headline--home figure {
        display: block; }
        .headline--home figure img {
          max-width: 70%; }
      .headline--home h2 {
        font-size: 18px; } }

.caption--header .title {
  display: inline-block; }
  @media all and (max-width: 39.9375em) {
    .caption--header .title {
      display: block; } }

.uploader__wrapper {
  display: inline-block;
  width: 100%;
  height: 250px;
  margin: 25px 0;
  overflow: hidden;
  position: relative; }
  @media all and (max-width: 39.9375em) {
    .uploader__wrapper {
      margin: 0;
      border-bottom: solid 1px #e6e6e6;
      height: 200px;
      margin-bottom: 20px; } }

#uploader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden; }

.uploader--label {
  display: table;
  width: 100%;
  height: 100%; }

.upload--label {
  font-family: "Oduda-Bold";
  font-size: 18px;
  background-color: #b8b8b8;
  padding: 5px 20px;
  color: #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

#preview-template {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: inherit; }

#image--name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: left;
  background-color: #e6e6e6;
  color: #a1a1a1; }

.block__comment {
  display: block;
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
  margin: 20px 0;
  padding: 20px 0; }

.block__comment--avatar {
  display: inline-block;
  float: left;
  background-color: #000000; }
  .block__comment--avatar.small {
    width: 30px;
    height: 30px; }
  .block__comment--avatar.large {
    width: 56px;
    height: 56px; }

.block__comment--form {
  width: 95%;
  display: inline-block;
  padding-left: 20px; }
  @media all and (max-width: 39.9375em) {
    .block__comment--form {
      width: 88%; } }
  .block__comment--form textarea {
    height: 30px; }

.block__comment--content {
  width: 90%;
  display: inline-block;
  padding-left: 20px; }
  @media all and (max-width: 39.9375em) {
    .block__comment--content {
      width: 79%; } }
  .block__comment--content ul li {
    font-size: 12px;
    margin-bottom: 4px; }
    .block__comment--content ul li:last-child {
      margin-bottom: 0; }
  .block__comment--content ul .user {
    color: #1e419b; }
  .block__comment--content ul .content {
    color: #8a8a8a; }
  .block__comment--content ul .time {
    color: #b8b8b8; }

.panel--error {
  display: inline-block;
  margin-top: 5px;
  background-color: #f04950;
  padding: 10px 10px;
  color: #ffffff;
  text-align: left;
  width: 100%;
  font-size: 12px;
  margin-bottom: 5px; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 50px; }
  header.navbar__subpage {
    background-color: #ffffff;
    padding: 10px 50px;
    position: relative;
    border-bottom: solid 1px #e6e6e6; }
    @media all and (max-width: 39.9375em) {
      header.navbar__subpage {
        padding: 10px 0; } }
  @media all and (max-width: 39.9375em) {
    header {
      padding: 10px; } }

.navbar--logo.subpage {
  display: inline-block !important; }
@media all and (max-width: 39.9375em) {
  .navbar--logo {
    display: none; } }

.navigation--home {
  padding: 10px 0;
  float: right;
  display: inline-block; }
  @media all and (max-width: 39.9375em) {
    .navigation--home {
      width: 100%;
      padding: 0; }
      .navigation--home ul {
        width: 100%; }
      .navigation--home .login--link {
        float: right !important; } }
  .navigation--home.subpage {
    padding: 5px; }
  .navigation--home li {
    margin-right: 20px; }
    .navigation--home li:last-child {
      margin-right: 0; }

.navigation--link {
  margin-top: 30px; }
  @media all and (max-width: 39.9375em) {
    .navigation--link {
      margin-top: 10px; } }
  .navigation--link.black {
    color: #000000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    .navigation--link.black:hover {
      color: #4d4d4d; }
  .navigation--link.white {
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    .navigation--link.white:hover {
      color: #e6e6e6; }

@media all and (max-width: 39.9375em) {
  .navigation--button {
    margin-top: 5px !important;
    float: right !important; }
    .navigation--button a {
      margin: 0; } }

.navbar--toggle {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  display: none;
  margin-top: 20px; }
  .navbar--toggle.subpage {
    border-color: #000000; }
    .navbar--toggle.subpage span {
      background-color: #000000; }
  @media all and (max-width: 39.9375em) {
    .navbar--toggle {
      display: inline-block; } }
  .navbar--toggle span {
    width: 100%;
    display: block;
    margin-bottom: 7px;
    height: 2px;
    background-color: #ffffff; }

.navigation--mobile {
  position: fixed;
  display: inline-block;
  padding: 20px;
  width: 200px;
  height: 100%;
  background-color: #ffd126;
  -webkit-box-shadow: 3px -1px 7px 0px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 3px -1px 7px 0px rgba(0, 0, 0, 0.4) inset;
  -ms-box-shadow: 3px -1px 7px 0px rgba(0, 0, 0, 0.4) inset;
  -o-box-shadow: 3px -1px 7px 0px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 3px -1px 7px 0px rgba(0, 0, 0, 0.4) inset;
  z-index: -1;
  top: 0;
  right: 0; }
  .navigation--mobile ul {
    width: 100%; }
    .navigation--mobile ul li {
      display: block;
      margin-bottom: 10px; }

.nav--active {
  overflow: hidden;
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%; }

.subscribe {
  max-width: 670px;
  width: 100%;
  display: block;
  margin: auto; }

.search {
  display: block;
  max-width: 470px;
  width: 100%;
  padding: 0 10px;
  margin: 60px auto; }
  .search input {
    border: solid 1px #1e419b; }

.cards__wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333333333%;
  float: left;
  padding-left: 3.3333333333%;
  padding-right: 3.3333333333%;
  padding: 0 10px; }
  @media all and (max-width: 39.9375em) {
    .cards__wrapper {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%;
      margin-bottom: 20px; } }

.cards {
  list-style: none;
  display: inline-block;
  width: 100%;
  position: relative; }

.cards--howto {
  background-color: #e6e6e6;
  padding: 36px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  min-height: 380px; }
  @media all and (max-width: 39.9375em) {
    .cards--howto {
      min-height: auto; } }
  .cards--howto li {
    font-family: "Oduda-Bold"; }
  .cards--howto .title {
    font-size: 23px;
    color: #ec1c24;
    margin-bottom: 10px; }
    @media all and (max-width: 39.9375em) {
      .cards--howto .title {
        font-size: 20px; } }
  .cards--howto .description {
    font-size: 19px;
    color: #1e419b;
    margin-bottom: 15px; }
    @media all and (max-width: 39.9375em) {
      .cards--howto .description {
        font-size: 18px; } }

.cards--gallery {
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  padding-bottom: 10px;
  border: solid 1px #d9d9d9; }
  .cards--gallery li {
    padding: 0 10px;
    color: #1e419b; }
    @media all and (max-width: 39.9375em) {
      .cards--gallery li {
        padding: 0 5px; } }
  .cards--gallery .images {
    display: inline-block;
    width: 100%;
    padding: 0;
    height: 150px;
    overflow: hidden;
    background-color: #000000; }
    @media all and (max-width: 39.9375em) {
      .cards--gallery .images {
        height: 110px; } }
    .cards--gallery .images figure {
      margin: 0 -10px; }
  .cards--gallery .title {
    font-size: 16px;
    font-family: "Oduda-Bold"; }
    @media all and (max-width: 39.9375em) {
      .cards--gallery .title {
        font-size: 14px; } }
  .cards--gallery .author {
    font-size: 12px; }
    @media all and (max-width: 39.9375em) {
      .cards--gallery .author {
        font-size: 9px;
        min-height: 35px; } }
  .cards--gallery .likes {
    font-size: 12px;
    margin-top: 5px; }
    @media all and (max-width: 39.9375em) {
      .cards--gallery .likes {
        font-size: 10px; } }

.wrapper__thumb {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 1.3888888889%;
  padding-right: 1.3888888889%;
  margin-bottom: 20px; }
  @media all and (max-width: 39.9375em) {
    .wrapper__thumb {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 1.3888888889%;
      padding-right: 1.3888888889%;
      margin-bottom: 20px; } }

.thumb--gallery {
  display: inline-block;
  width: 100%; }

.container__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100000000;
  text-align: center;
  overflow: scroll; }
  @media all and (max-width: 39.9375em) {
    .container__modal {
      background-color: #ffffff; } }

.modal__dialog {
  max-width: 80%;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  @media all and (max-width: 63.9375em) {
    .modal__dialog {
      margin-top: 20px; } }
  @media all and (max-width: 39.9375em) {
    .modal__dialog {
      max-width: 95%; } }

.modal__content {
  display: inline-block;
  border: solid 5px #1e419b;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  overflow: scroll;
  height: 100%; }

.modal__header {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px; }

.modal__body {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px; }
  @media all and (max-width: 39.9375em) {
    .modal__body {
      margin-bottom: 10px; } }

.modal__footer {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }

.list__tnc {
  padding-left: 30px; }
  .list__tnc li {
    font-size: 12px; }

.toggle--close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px; }

.modal--login .modal__dialog {
  max-width: 380px; }

.modal--signup .modal__dialog {
  max-width: 600px; }

.modal--span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333333333%;
  float: left;
  padding-left: 3.3333333333%;
  padding-right: 3.3333333333%;
  padding: 0; }
  @media all and (max-width: 39.9375em) {
    .modal--span {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 3.3333333333%;
      padding-right: 3.3333333333%; } }

.span--signup {
  padding: 30px 0; }
  @media all and (max-width: 39.9375em) {
    .span--signup {
      padding: 5px 0; } }

.pagination {
  display: inline-block;
  margin-top: 20px; }
  .pagination li {
    margin-right: 5px;
    margin-bottom: 10px; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li a {
      padding: 5px 10px;
      color: #ffffff;
      background-color: #1e419b;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .pagination li a:hover {
        background-color: #ec1c24; }
    .pagination li:last-child {
      margin-right: 0; }
